<!doctype html>

<html>
<head>
  <title>UCSD CSE Class App</title> 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/bootstrap-theme.min.css" rel="stylesheet">
  <link href="css/introHCI.css" rel="stylesheet">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->   
    {{> tracking_code_script}}  
</head>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">ClassApp</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">Home<span class="sr-only">(current)</span></a></li>
        <li><a href="/minor">My Minor</a></li>
        <li class="active"><a href="/courses">Courses</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<body>
  <div class="container">
    <!-- h1 through h6 are headers. The higher the number, the smaller the header -->
    <!-- p means paragraph -->
    <div class="jumbotron">
      <h1><center>Courses</center></h1>
      <!--<p>human-computer interaction &middot; social computing &middot; crowdsourcing</p> -->
      <!--<button id="testjs" class="btn btn-primary btn-lg">Test Javascript</button>-->
    </div>

    <h2><center>All CSE courses at U<b>CS</b>D</center></h2>

<div class="list-group-item active">CSE Courses</div>
  <!--<ul class="list-group">
    {{#each courses}}
    <a href = "/courses/{{courseID}}"><li class="list-group-item">{{courseID}}</li></a>
    {{/each}}
  </ul>-->
  <table id="classtable" class="table table-striped table-condensed tablesorter">
    <thead>
      <tr>
        <th>Course Name</th>
        <th>Difficulty <i class="fa fa-chevron-up"></i><i class="fa fa-chevron-down"></i></th>
        <th>Enjoyability <i class="fa fa-chevron-up"></i><i class="fa fa-chevron-down"></i></th>
        <th>Usefulness <i class="fa fa-chevron-up"></i><i class="fa fa-chevron-down"></i></th>        
      </tr>
    </thead>
    <tbody>
    {{#each courses}}
      <tr class="clickable-row btn-default" data-href='/courses/{{courseID}}'>
        <td>{{courseID}}</td>
        <td>{{accDiff}}</td>
        <td>{{accEnj}}</td>
        <td>{{accUse}}</td>
      </tr>
    {{/each}}
  </tbody>
  </table>
</div>

  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/introHCI.js"></script>
  <script type="text/javascript" src="/js/jquery.tablesorter.js"></script> 
</body>
</html>
